.page-home {



ion-item{
    ion-checkbox{
        margin-right: 14px !important;
    }
}

.test{
    float: right;
    overflow: auto;
    margin-right: 5px;
    text-align: right;
}
.address-overview{
    padding-left: 6%;
}
#tinypad{
    padding-left: $tiny-padding;
}
// ion-list{

// ion-item{
//  .checkbox .checkbox-md .checkbox-md-dark{
//     margin: 0 10px 0 0;
// }
  

// }
// }
// ion-item{
// ion-label{
//         margin: 0;
// }
// }

// img{
//         width: 12%;
// }
// h2{
//     display: inline;
//     float: right;
//     margin-right: 10px;
//     margin: 0px;
// }
// p{
//         position: absolute;
//     right: 15px;
//     top: 23px;
// }


// }

// img{
//         width: 12%;
//     height: 23%;
//     float: left;
// }
// .rightalign{
//     float: right;
//     overflow: hidden;
// }

//  .item.item-md .checkbox-md{
//      margin: 0 14px 0 0;
// }

// ion-checkbox .checkbox .checkbox-md .checkbox-md-dark{
//     margin: 0 10px 0 0;
// }
// .item.item-md .checkbox-md {
//         margin-right: 14px !important;
// }
}





