page-tutorial {

  ion-slides{ 

      height: 200px;
  }

  .divionslide {
            // width: 240px;
            // height: 240px;
            // background: #000;
            // border-radius: 10px;
        }
  .toolbar-background {
    background: transparent;
    border-color: transparent;
  }

  .slide-zoom {
    //height: 100%;
  }

  // .slide-title {
  //   margin-top: 2.8rem;
  // }

  // .slide-image {
  //   max-height: 40%;
  //   max-width: 60%;
  //   margin: 36px 0;
  // }

  .slide-image {
    height: 150px;
  }

  b {
    font-weight: 500;
  }

  p {
    padding: 0 40px;
    font-size: 14px;
    line-height: 1.5;
    color: #60646B;

    b {
      color: greenyellow;
    }
  }

}
